@page "/301"
@using DartHub.Models
  
    <div id="301board">
        <h2 class="ui header" style="text-align: center;">
            <i class="bullseye icon"></i> 301
        </h2>
        <div class="ui centered grid">
            @foreach (Player player in Players)
            {
                <div class="four wide column">
                    <div class="ui vertical menu">
                        <a class="ui label item">
                            <img class="ui right spaced avatar image" src=@player.AvatarPath>@player.Name
                        </a>
                        <div class="ui big icon input item">
                            <input type="number" value="@player.Score">
                        </div>
                        <div class="item">
                            <div style="float: left; margin-bottom: 10px" class="ui label">T20</div>
                            <div style="float: left; margin-bottom: 10px" class="ui label">D17</div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="ui sixteen column centered grid">
            <div class="four column row" id="calculator">
                    <div class="ui column message" style="text-align: right;" id="calculator">
                        @CalculatorValue
                    </div>
            </div>
            <div class="row" id="calculator">
                <div class="column ui button">7</div>
                <div class="column ui button">8</div>
                <div class="column ui button">9</div>
                <div class="column ui button">+</div>
            </div>
            <div class="row" id="calculator">
                <div class="column ui button">4</div>
                <div class="column ui button">5</div>
                <div class="column ui button">6</div>
                <div class="column ui button">-</div>
            </div>
            <div class="row" id="calculator">
                <div class="column ui button">1</div>
                <div class="column ui button">2</div>
                <div class="column ui button">3</div>
                <div class="column ui button">*</div>
            </div>
            <div class="row" id="calculator">
                <div class="column ui button">C</div>
                <div class="column ui button">0</div>
                <div class="column ui button">=</div>
                <div class="column ui button">/</div>
            </div>
        </div>
    </div>

@code {
    public List<Player> Players { get; set; }
    public Player SelectedPlayer { get; set; }
    public int CalculatorValue { get; set; }
    protected override async Task OnInitializedAsync()
    {
        Players = new List<Player>()
        {
            new Player("Joe", 301),
            new Player("Zoe", 301)
        };

        SelectedPlayer = Players[0];
        CalculatorValue = 0;
    }

    public void calc(char input)
    {
        return;
    }
    public void solve()
    {
        return;
    }
}

